table {
background-color: rgb(99, 97, 97);
}

td {
  width: 2em;
  height: 2em;
  padding: 3px;
  border:  1px solid black;
  text-align: center;
  background-color: rgb(201, 198, 198);
}

#calcFace {
  position: absolute;
  /* width: 10%; */
  left: 45%;
  top: 30%;
  border: 4px solid black;

}